/* Generic style */
* {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}

header {
    background-color:   lightgray;
}

main {
    background-color: darkgray;
}

footer {
    background-color: lightgray;
}