/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Ysabeau+SC:wght@1..1000&display=swap');

/* Generic style */
* {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}

.title_ubuntu {
    font-family: "Ubuntu", sans-serif;
    margin: 15px 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px #323232;
    font-size: 3.3rem;
    text-align: center;
    
}

.sub_title_ubuntu {
    font-family: "Ubuntu", sans-serif;
    margin: 20px 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px #323232;
    font-size: 1.5rem;
    text-align: center;
    
}

.sub_sub_title_ubuntu {
    font-family: "Ubuntu", sans-serif;
    margin: 15px 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px #323232;
    font-size: 0.8rem;
    text-align: center;
    
}

.text_ysabeau {
    font-family: "Ysabeau", sans-serif;
    color: #cbd5e3;
    font-size: 16px;
    text-align: center;
}

.text_small_ysabeau {
    font-family: "Ysabeau", sans-serif;
    color: #cbd5e3;
    font-size: 13px;
}

.section_padding {
    padding: 35px 20px;
}

.section_text_layout {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.section_layout {
    padding: 45px 7%;
    width: 100%;
    background-color: black;
    text-align: center;
    
}

section > p {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}



h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
}



body {
    font-family: "Ysabeau";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #323232;
}

header {
    background-color:   lightgray;
    background-color: #000000;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 4px #323232;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    
}

nav {
    position: absolute;
    background-color: black;
    width: 100%;
    box-shadow: 0 2px 3px #323232;
    display: none;
    top: 100%;
}

.logo {
    width: 30px;
    margin-left: 9px;
}

header img {
    display: block;
    border-radius: 50%;
}

header > h1 {
    font-family: "Ubuntu";
    margin: auto 0;
    color: #cbd5e3;
    font-size: 1.2em;

}

header > a {
    text-decoration: none;
    margin: auto 0;

}

#nav-dropdown:checked~nav {
    display: block;
    padding: 10px 0;
    text-align: center;
}

#nav-dropdown {
    display: none;
}

.nav-dropdown-label {
    margin: auto 15px;

}

nav a {
    font-family: "Ubuntu";
    text-decoration: none;
    color: #cbd5e3;
    margin-left: -9px;
   
}

nav li {
    list-style-type: none;
    margin:  5px 15px;
    font-size: 1.2em;
}

#nav_register_link {
    height: 30px;
    margin: auto auto;
    width: 100px;
    color: black;
    background-color: rgb(255, 188, 45);
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    
}

#menu_faq {
    margin-right: 10px;
}


main {
    background-color: darkgray;    
}

#section_title {
    margin-top:             45px;
    height:                 95vh;
    padding-top:            55px;
    background-image:       url("../img/festival02.jpg");
    background-position:    center;
    background-size:        cover;
    
}

#section_title_facts {
    display:            flex;
    justify-content:    space-evenly;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

#section_facts_when {
    margin-right:   8px;
    margin-left:    10px;
    text-align:     right;

}

#section_facts_where {
    margin-left:    8px;
    text-align:     left;
}

#where, #when {
    font-size: 0.75rem;
}

#section_video {
    background-color: black;
}

#section_gallery {
    display: grid;
    grid-template-columns: 2.3fr 1fr 1fr 2.3fr;


}

#section_gallery img {
    width: 100%;
    height: 100%;
}

#section_lineup {
    background: rgba(36, 36, 36, 0.55) url(../img/felix01.jpg);
    background-blend-mode: darken;
    background-size: cover;
    padding-bottom: 80px;
}

#section_lineup_starringdj {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    max-width: 700px;
    margin: 10px auto;
    text-shadow: 2px 2px 2px black;
    
}

#section_lineup_starringdj h4 {
    font-family: "Ysabeau", sans-serif;
    color: rgb(255, 188, 45);
    margin: 5px auto;

}

#section_lineup_text {
    text-shadow: 3px 3px 4px #202020;
}

#section_gallery2 {
    position: relative;
}

#section_gallery2_pic1 {
    position: absolute;
    left: 22%;
    top: -38px;
    z-index: 2;
    width: 24%;
    
}

#section_gallery2_pic2 {
    position: absolute;
    right: 12%;
    top: 8vh;
    z-index: 2;
    width: 12%;
    
}

#section_gallery2 img {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px gray;
}

#section_gallery2_container {
    display: grid;
    grid-template-columns: 2.1fr 1fr 2.1fr 1.2fr ;
    z-index: 1;

}

#section_ticket {
    padding-top: 20px;
}

#section_ticket li {
    list-style-type: none;
}

#p1, #p2, #p3 {
    text-align: center;
    max-width: 380px;
}

#section_ticket_airports {
    display: flex;  
    gap: 5px;
    flex-wrap: wrap;  
    justify-content: space-evenly;
}

#section_ticket_airports > li {
    text-align: center;
    flex-basis: 130px;
}

#section_ticket_sale {
    color: rgb(255, 188, 45);
    text-shadow: 1px 1px 2px #323232;
    margin-top: 15px;
}

#section_vip {
    
    background: rgba(0, 0, 0, 0.6) url(../img/festival10.jpg);
    background-blend-mode: darken;
    background-size: cover;
}

#section_vip_text {
    text-shadow: 2px 2px 3px #202020;
}

#section_vip_register_link {
    padding: 12px 20px;
    border: 1px solid rgb(255, 188, 45);
    border-radius: 5px;
    background-color: rgb(255, 188, 45);
    color: black;
    box-shadow: 2px 2px 4px #202020;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

#section_stay_tuned {
    background-color: #000000;
}

#section_stay_tuned_card {
    background-color: rgb(255, 188, 45);
    border: none;
    border-radius: 8px;
    padding:  5px 22px;
    margin: 0 auto;
    text-align: left;
    max-width: 430px;
}

#section_stay_tuned_card h1 {
    color: black;
    text-shadow: none;
}

#section_stay_tuned_form {
    text-align: center;
    align-items: center;
}

.form_div {
    margin: 20px auto; 
    width: 80%;   
      
}

.form_label {
    display: block;
    font-family: "Ysabeau", sans-serif;
    font-size: 0.7em;
    margin-bottom: 8px;
}

.form_input {
    display: block;
    font-family: "Ysabeau", sans-serif;
    width: 100%;
}

#subscribe {
    padding:  5px 15px;
    background-color: black;
    color: rgb(255, 188, 45);
    font-family: "Ubuntu", sans-serif;
    border-radius: 5px;
    border: 1px solid black;
}

#section_faq {
    background: linear-gradient(#000000, #000000, #000000, #202020)
}

#section_faq_link {
    padding: 12px 45px;
    border: 1px solid rgb(255, 188, 45);
    border-radius: 5px;
    background-color: rgb(255, 188, 45);
    color: black;
    box-shadow: 2px 2px 4px #202020;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}





footer {
    background-color: lightgray;
    padding:            4%;
}

#social-media {
    list-style-type:    none;
    display:            flex;
    justify-content:    space-evenly;
    text-align:         center;

}

#social-media li {
    font-size: 22px;
}

#social-media a {
    text-decoration: none;
    color: inherit;
}


/* Media query: tablets from 768px - changed to 770, since ipad mini has too less space for a not collapsed header..*/
@media screen and (min-width: 780px) {
    nav {
        display: flex;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 5px;
        background-color: #000000;
        top: 0;
        height: 100%;
    }

    header > h1 {
        font-family: "Ubuntu";
        margin: auto 0;
        color: #cbd5e3;
        font-size: 1.2em;
    
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
        margin: auto 0;
    }

    .nav-dropdown-label {
        display: none;
    }

    #nav_register_link {
        height: 30px;
        margin: auto auto;
        width: 100px;
        color: black;
        background-color: rgb(255, 188, 45);
        font-family: "Ubuntu", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-right: 15px;
    }

    #section_lineup {
        background: rgba(36, 36, 36, 0.3) url(../img/felix01.jpg);
        background-blend-mode: darken;
        background-size: cover;
        padding-bottom: 100px;
    }

    #section_gallery2_pic1 {
        position: absolute;
        left: 22%;
        top: -78px;
        z-index: 2;
        width: 22%;
        
    }

    #section_gallery2_pic2 {
        position: absolute;
        right: 12%;
        top: 14vh;
        z-index: 2;
        width: 12%;
        
    }

    #p1 {
        text-align: left;
    }
    
    #p2 {
        text-align: center;
    }
    
    #p3 {
        text-align: right;
    }

    #section_ticket_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    #section_ticket_container > li {
        margin: auto auto;
        padding: 20px 25px;
        vertical-align: top;
        height: 100%;
        max-width: 350px;
    }

    #section_ticket_h4_1 {
        text-align: left;
    }

    #section_ticket_h4_2 {
        text-align: center;
    }

    #section_ticket_h4_3 {
        text-align: right;
    }

    #section_ticket_airports > li {
        text-align: center;
        flex-basis: auto;
    }

    #section_vip_register_link:hover {
        background-color: black;
        color: rgb(255, 188, 45);
    }

    .form_div {
        margin: 25px auto; 
        width: 70%;   
          
    }

    #subscribe:hover {
        color : black;
        background-color: rgb(255, 188, 45);
    }
}




@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #cbd5e3;
    }
    
    #social-media a:hover {
        border-bottom: 1px solid #323232;
    }

    header > h1 {
        font-family: "Ubuntu";
        margin: auto 0;
        color: #cbd5e3;
        font-size: 1.7em;
    
    }

    #section_gallery2_pic1 {
        position: absolute;
        left: 22%;
        top: -88px;
        z-index: 2;
        width: 22%;
        
    }

    #section_gallery2_pic2 {
        position: absolute;
        right: 12%;
        top: 19vh;
        z-index: 2;
        width: 12%;
        
    }

    #p1 {
        text-align: left;
    }
    
    #p2 {
        text-align: center;
    }
    
    #p3 {
        text-align: right;
    }
}
