/* Google font imports */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700');


/* 01 Generic STYLES that apply for all html pages*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
}

body {
    font-family: "Arial";
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #323232;
}

header {
    background-color: lightgray;
    background-color: #000000;
    position: fixed;
    z-index: 99;
    box-shadow: 0 2px 4px #323232;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

nav {
    position: absolute;
    background-color: black;
    width: 100%;
    box-shadow: 0 2px 3px #323232;
    display: none;
    top: 100%;
}

main {
    background-color: darkgray;
    margin-top: 45px;
}

video {
    width: 100%;
}

footer {
    background-color: lightgray;
    padding: 4%;
}


/* 02 Utility classes and deviations from general STYLES --------------- */

.title_ubuntu {
    font-family: "Ubuntu", sans-serif;
    margin: 15px 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px #323232;
    font-size: 3.3rem;
    text-align: center;

}

.sub_title_ubuntu {
    font-family: "Ubuntu", sans-serif;
    margin: 20px 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px #323232;
    font-size: 1.5rem;
    text-align: center;

}

.sub_sub_title_ubuntu {
    font-family: "Ubuntu", sans-serif;
    margin: 15px 20px;
    color: #ffffff;
    text-shadow: 2px 2px 5px #323232;
    font-size: 0.8rem;
    text-align: center;

}

.text_arial {
    font-family: "Arial", sans-serif;
    color: #cbd5e3;
    font-size: 16px;
    text-align: center;
}

.text_small_arial {
    font-family: "Arial", sans-serif;
    color: #cbd5e3;
    font-size: 13px;
}

.yellow {
    color: rgb(255, 188, 45);
}

.black_text {
    font-family: "Arial", sans-serif;
    color: black;
}

.section_padding {
    padding: 35px 20px;
}

.section_text_layout {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.section_text_layout_airport {
    max-width: 700px;
    text-align: left;
    
}

.section_layout {
    padding: 45px 7%;
    width: 100%;
    background-color: black;
    text-align: center;

}

section > p {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
}

.form_div {
    margin: 20px auto;
    width: 80%;

}

.form_label {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 0.7em;
    margin-bottom: 8px;
}

.form_input {
    display: block;
    font-family: "Arial", sans-serif;
    width: 100%;
}

.register_form_div {
    margin: 17px auto;

}

.register_form_label {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 0.7em;
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
    
}

.register_form_airport {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.register_form_label_airport {
    display: block;
    font-family: "Arial", sans-serif;
    font-size: 0.7em;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 5px;
    
}

.register_form_input {
    display: block;
    font-family: "Arial", sans-serif;
    width: 100%;
    padding: 5px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

.radiohidden {
    visibility: hidden;
    display: none;
}

input[type=radio]:checked + label {
    background-color:rgba(0, 0, 0, 0.30);

}

input[type=radio]:hover + label {
    background-color: rgba(0, 0, 0, 0.2);
}

.fullheight {
    height: 100%;
}

.airportspacing {
    margin: 0 auto;
    padding: 2px;
}

.fieldset_margin_padding {
    margin-top: 30px;
    margin-bottom: 15px;
    padding-top: 5px;
}

.label_text {
    text-align: center;
    margin: auto 0;
}

.label_airport  {
    padding: 5px;
    font-style: "Arial", sans-serif;
    font-size: 34px;
    height: 100px;
}

.label_airp {
    padding: 18px 15px;
    font-size: 0.9em;
}

/* 03 Specific ELEMENTS that are used sidewide ------------------------------- */

#header_logo {
    display: flex;
    width: 100%;
}

header img {
    display: block;
    border-radius: 50%;
    width: 30px;
    width: 30px;
    margin: auto 6px 0;
}

header h1 {
    font-family: "Ubuntu";
    margin: auto auto;
    color: #cbd5e3;
    font-size: 1.2em;
    
}

header > a {
    text-decoration: none;
    margin: auto 0;
    
}

#nav-dropdown:checked~nav {
    display: block;
    padding: 10px 0;
    text-align: center;
}

#nav-dropdown {
    display: none;
}

.nav-dropdown-label {
    margin: auto 20px;
    
}

nav a {
    font-family: "Ubuntu";
    text-decoration: none;
    color: #cbd5e3;
    margin-left: -12px;
    
}

nav li {
    list-style-type: none;
    margin: 5px 15px;
    font-size: 1.1em;
}

#nav_register_link {
    height: 30px;
    margin: auto auto;
    width: 100px;
    color: black;
    background-color: rgb(255, 188, 45);
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#menu_faq {
    margin-right: 10px;
}

#social-media {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#social-media li {
    font-size: 25px;
}

#social-media a {
    text-decoration: none;
    color: inherit;
    padding: 10px 12px;
    border-radius: 50px;
}


/* PAGE 1: index.html specific ELEMENTS & STYLES ---------------- */

#section_title {
    margin-bottom: -4px;
     height: 230px;
    overflow:hidden;
  /*  overflow: hidden;
    background-image: url("../img/festival02.jpg");
    background-position: center;
    background-size: cover; */
}

#section_title_img0 {
    width: 100%;
}

#section_title_facts {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#section_title_header {
    position: absolute;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0%);
    min-width: 300px;
    margin:0;
    background-color: rgba(36, 36, 36, 0.55);
    border-radius: 50%;
    padding:19px;
}

#section_facts_when {
    margin-right: 8px;
    margin-left: 10px;
    text-align: right;
}

#section_facts_where {
    margin-left: 8px;
    text-align: left;
}

#where,
#when {
    font-size: 0.75rem;
}

#section_video {
    background-color: black;
}

#section_gallery {
    display: grid;
    grid-template-columns: 2.3fr 1fr 1fr 2.3fr;
}

#section_gallery img {
    width: 100%;
    height: 100%;
}

#section_lineup {
    background: rgba(36, 36, 36, 0.55) url(../img/felix01.jpg);
    background-blend-mode: darken;
    background-size: cover;
    padding-bottom: 80px;
}

#section_lineup_starringdj {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    max-width: 700px;
    margin: 10px auto;
    text-shadow: 2px 2px 2px black;
}

#section_lineup_starringdj h4 {
    font-family: "Arial", sans-serif;
    color: rgb(255, 188, 45);
    margin: 5px auto;
}

#section_lineup_text {
    text-shadow: 3px 3px 4px #202020;
}

#section_gallery2 {
    position: relative;
}

#section_gallery2_pic1 {
    position: absolute;
    left: 22%;
    top: -38px;
    z-index: 2;
    width: 24%;
}

#section_gallery2_pic2 {
    position: absolute;
    right: 12%;
    top: 8vh;
    z-index: 2;
    width: 12%;
}

#section_gallery2 img {
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 5px gray;
}

#section_gallery2_container {
    display: grid;
    grid-template-columns: 2.1fr 1fr 2.1fr 1.2fr;
    z-index: 1;
}

#section_ticket {
    padding-top: 20px;
}

#section_ticket li {
    list-style-type: none;
}

#p1,
#p2,
#p3 {
    text-align: center;
    max-width: 380px;
}

#section_ticket_airports {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#section_ticket_airports>li {
    text-align: center;
    flex-basis: 130px;
}

#section_ticket_sale {
    color: rgb(255, 188, 45);
    text-shadow: 1px 1px 2px #323232;
    margin-top: 15px;
}

#section_vip {

    background: rgba(0, 0, 0, 0.6) url(../img/festival10.jpg);
    background-blend-mode: darken;
    background-size: cover;
}

#section_vip_text {
    text-shadow: 2px 2px 3px #202020;
}

#section_vip_register_link {
    padding: 12px 20px;
    border: 1px solid rgb(255, 188, 45);
    border-radius: 5px;
    background-color: rgb(255, 188, 45);
    color: black;
    box-shadow: 2px 2px 4px #202020;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

#section_stay_tuned {
    background-color: #000000;
}

#section_stay_tuned_card {
    background-color: rgb(255, 188, 45);
    border: none;
    border-radius: 8px;
    padding: 5px 22px;
    margin: 0 auto;
    text-align: left;
    max-width: 430px;
}

#section_stay_tuned_card h1 {
    color: black;
    text-shadow: none;
}

#section_stay_tuned_form {
    text-align: center;
    align-items: center;
}

#subscribe {
    padding: 5px 15px;
    background-color: black;
    color: rgb(255, 188, 45);
    font-family: "Ubuntu", sans-serif;
    border-radius: 5px;
    border: 1px solid black;
}

#section_faq {
    background: linear-gradient(#000000, #000000, #000000, #202020)
}

#section_faq_link {
    padding: 12px 45px;
    border: 1px solid rgb(255, 188, 45);
    border-radius: 5px;
    background-color: rgb(255, 188, 45);
    color: black;
    box-shadow: 2px 2px 4px #202020;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}


/* PAGE 2: faq.html specific ELEMENTS & STYLES ----------------- */

#faq_header {
    color: rgb(255, 188, 45);

}

#faq_section_tickets_header {
    margin: 60px 0;
}

details > summary {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.2rem;
    color: white;;
    list-style-type: none;
    cursor: pointer;
    margin: 10px auto;
    margin-top: 20px;
    width: fit-content;
    max-width: 800px;
}

details > p {
    font-family: "Arial", sans-serif;
    color: #cbd5e3;
    margin: 10px auto;
    width: 70%;
    max-width: 800px;
    margin-bottom: 50px;
}

#faq_section_tickets_return {
    width: fit-content;
    margin: 0 auto;
    text-align: left;
    font-family: "Arial", sans-serif;
    color: #bdc6d2;
    margin-top: -30px;
    margin-bottom: 50px;
}

#register_airport_h {
    margin-top: 20px;
}


/* PAGE 3: preregister.html specific ELEMENTS & STYLES ----------------- */

#register_section_container {
    background-color: black;

}

#register_card {
    background-color: rgb(255, 188, 45);
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 0 auto;
    text-align: left;
    max-width: 800px;
}


#register_form_number {
    display: block;
    text-align: center;
    width: 180px;
}

#register_form_number_input {
    border-style: none;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 7px;
    text-align: center;
    width: 80px;
    margin: 15px auto;
}

#register_airports {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#register_airports>li {
    text-align: center;
    flex-basis: 130px;
}

#register_button_container {
    text-align: center;
}

#register_bt {
    padding: 5px 15px;
    background-color: black;
    color: rgb(255, 188, 45);
    font-family: "Ubuntu", sans-serif;
    border-radius: 5px;
    border: 1px solid black;
}

#register_bt:hover {
    color: black;
    background-color: rgb(255, 188, 45);
}

#register_form {
    margin: auto 10px;
}

.register_form_double_text {
    display: block;
}

.register_form_div_text {
    margin: 7px auto;
}

.register_fieldset_legend_text {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
}


/* -------------------- MEDIA QUERIES -------------------- */
/* 1 TABLET FROM 768px - changed to 780: ipad mini has too less space for an expanded nav.. */

@media screen and (min-width: 780px) {
    #header_logo {
        display: flex;
        width: auto;
    }

    nav {
        display: flex;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 2px;
        background-color: #000000;
        top: 0;
        height: 100%;
    }

    #menu a:hover {
        border-bottom: 1px solid #cbd5e3;
        color: rgb(255, 188, 45);
    }

    header h1 {
        font-family: "Ubuntu";
        margin: auto 9px;
        color: #cbd5e3;
        font-size: 1.2em;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
        margin: auto 2px;
    }

    .nav-dropdown-label {
        display: none;
    }

    #nav_register_link {
        height: 30px;
        margin: auto auto;
        width: 100px;
        color: black;
        background-color: rgb(255, 188, 45);
        font-family: "Ubuntu", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        margin-right: 10px;
    }

    #nav_register_link:hover {
        border: 1px solid rgb(255, 188, 45);
        background-color: black;
        color: rgb(255, 188, 45);
    }

    #section_title_container {
        width:100%;

    }

    #section_lineup {
        background: rgba(36, 36, 36, 0.3) url(../img/felix01.jpg);
        background-blend-mode: darken;
        background-size: cover;
        padding-bottom: 100px;
    }

    #section_gallery2_pic1 {
        position: absolute;
        left: 22%;
        top: -78px;
        z-index: 2;
        width: 22%;
    }

    #section_gallery2_pic2 {
        display: none;
    }

    #p1 {
        text-align: left;
    }

    #p2 {
        text-align: center;
    }

    #p3 {
        text-align: right;
    }

    #section_ticket_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #section_ticket_container>li {
        margin: auto auto;
        padding: 20px 25px;
        vertical-align: top;
        height: 100%;
        max-width: 350px;
    }

    #section_ticket_h4_1 {
        text-align: left;
    }

    #section_ticket_h4_2 {
        text-align: center;
    }

    #section_ticket_h4_3 {
        text-align: right;
    }

    #section_ticket_airports>li {
        text-align: center;
        flex-basis: auto;
    }

    #section_ticket_sale {
        font-family: "Arial", sans-serif;
        margin-top: 40px;
    }

    #section_vip_register_link:hover {
        background-color: black;
        color: rgb(255, 188, 45);
    }

    .form_div {
        margin: 25px auto;
        width: 70%;
    }

    .register_form_input {
        display: block;
        font-family: "Arial", sans-serif;
        width: 95%;
    }


    /* PAGE 3: preregister.html ---------------------------------- */
    #register_p1,
    #register_h4_1,
    #register_p2,
    #register_h4_2,
    #register_p3,
    #register_h4_3 {
        text-align:center;
    }



    #register_ticket_container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 5px 7px;
    }



    #register_airports>li {
        text-align: center;
        flex-basis: auto;
    }

    .labelmax {
        max-width: 230px;
    }

    #register_form {
        margin: auto 25px;
    }

    .register_form_double_text {
        display: flex;
    }

    .register_form_div_text {
        margin: 7px 0px ;
        width: 100%;
    }


}


/* 2 TABLETS & SMALL LAPTOPS FROM 992px: Hovers are used from here ------------- */
@media screen and (min-width: 992px) {
    header h1 {
        font-family: "Ubuntu";
        margin: auto 15px;
        color: #cbd5e3;
        font-size: 1.7em;
    }
    
    header img:hover {
        box-shadow: 0px 0px 10px #2f2f2f;
    }

    #section_gallery2_pic1 {
        position: absolute;
        left: 22%;
        top: -88px;
        z-index: 2;
        width: 22%;
    }
    
    #section_gallery2_pic2 {
        position: absolute;
        right: 12%;
        top: 28vh;
        z-index: 2;
        width: 12%;
    }
    
    #p1 {
        text-align: left;
    }
    
    #p2 {
        text-align: center;
    }
    
    #p3 {
        text-align: right;
    }
    
    #subscribe:hover {
        color: black;
        background-color: rgb(255, 188, 45);
    }
    
    #section_faq_link:hover {
        color: rgb(255, 188, 45);
        background-color: black;
        border: 1px solid rgb(255, 188, 45);
    }
    
    #social-media a:hover {
        box-shadow: 0px 0px 10px #202020;
        background-color: #32323216;
    }

    /* faq.html specific media query stuff... */
    details > summary:hover {
        border-bottom: 1px solid rgb(255, 188, 45);
    }
}

/* 3 LAPTOPS & PCS FROM 1100px: Taking care of too strong shifts of ELEMENTS ----- */
@media screen and (min-width: 1100px) {
    header {
        height: 65px;
    }

    nav li {
        margin: 5px 15px;
        font-size: 1.5em;
    }

    #menu>li {
        margin: auto 7px;
    }

    main {
        margin-top: 65px;
    }

    #section_gallery2_pic2 {
        position: absolute;
        right: 12%;
        top: 29vh;
        z-index: 2;
        width: 12%;

    }
}